NEXT_PUBLIC_SITE_URL=http://localhost:3000
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
PAYSTACK_SECRET_KEY=sk_test_xxx
MAILGUN_API_KEY=
MAILGUN_DOMAIN=sandboxXXXX.mailgun.org
# Use https://api.eu.mailgun.net if your Mailgun account is in the EU region
MAILGUN_BASE_URL=https://api.mailgun.net
